:root{
    --pink: #fa65da;
    --black: #030505;
    --whrite: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header{
    position: relative;
}

a{
    text-decoration: none;
}
html {
    font-size: 65%;
    box-sizing: border-box; 
}

body, input {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Archivo', sans-serif;
    color: var(--black);
}

ul{
    list-style: none;
}

button{
    font-size: 15px;
    font-family: 'Lobster', cursive;
    font-family: 'M PLUS Code Latin', sans-serif;
    background-color: var(--pink);
}

.navigation{
    width: 100%;
    position: relative; 
    height: 0 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.425);
}
.container{
   margin: 0 auto;
   width: 100%;
   padding: 0 auto;
   max-width: 15000px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 100px;
    width: 100%;
   line-height: 100px;
}
.nav .logo{
    margin: 0 30px;
}
.nav_list{
    display: flex;
    line-height: 100px;
}
.nav_item{
    padding: 0 20px;     
    
}

.nav_list .nav_item:hover{
    background-color:var(--pink);
    line-height: 100px;
}

.nav_controller {
    display: flex;
    padding: 0 20px;
    margin: 0 20px;
}


.search{
    margin: 0 0 0 40px;
}
.nav_search {
    padding: 0 15px;
}
.nav_shop{
    
padding: 0 15px;
}
.nav_accout{
    
padding: 0 15px;
}



@media only screen and (max-width: 768px){
    .nav{
        position: fixed;
        top: 0;
        left: -300px;
        width: 0;
        background-color: #ffffff;
        z-index: 9990;
        height: 100%;
        transition: all .3s;
    }

    .nav .open{
        left: 0px;
        width: 300px;
    }
}