:root{
    --pink: #dd13b1;
    --black: #030505;
    --whrite: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header{
    position: relative;

}

a{
    text-decoration: none;
}
html {
    font-size: 65%;
    box-sizing: border-box; *
}

body, input {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Archivo', sans-serif;
    color: var(--black);
}

ul{
    list-style: none;
}

button{
    font-size: 25px;
    font-family: 'Lobster', cursive;
    font-family: 'M PLUS Code Latin', sans-serif;
    background-color: var(--pink);
}

.navigation{
    position: relative; *
    height: 7rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.container{
    width: 100%;
    max-width: 20px;
    margin: 10px;
    padding: 10px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;  *
    height: 30px;
    width: 100%;
}
.nav_list{
    display: flex;
    
}
.nav_item{
    margin: 10px;
}