:root{
    --pink: #dd13b1;
    --black: #030505;
    --whrite: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header{
    position: relative;

}

a{
    text-decoration: none;
}
html {
    font-size: 65%;
    box-sizing: border-box; 
}

body, input {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Archivo', sans-serif;
    color: var(--black);
}

ul{
    list-style: none;
}

button{
    font-size: 15px;
    font-family: 'Lobster', cursive;
    font-family: 'M PLUS Code Latin', sans-serif;
    background-color: var(--pink);
}

.navigation{
    position: relative; 
    height: 0 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.container{
   margin: 0 auto;
   width: 100%;
   padding: 0 5px;
   max-width: 1000px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 80px;
    width: 100%;
    padding: 0 5px;
}
.nav_list{
    display: flex;
    
}
.nav_item{
    margin: 10px 30px;  
    
}

.nav_controller {
    display: flex;
}
